body {
  background-image: url(bg.jpg);
    font-family:"Josefin Sans";
    margin: 0%;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .about-section {
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(250, 250,250, 0.5);
    padding: 25px;
    text-align: justify;
    color: black;
    font-family: serif;
    
  }
  
  .about-section p {
  font-size: 25px;
  }
  .container {
    padding: 0 10px;
  }
  
 
.footer{
  height: 100%;
  background-color: none;
  display: grid;
  grid-template-columns:200px 200px 200px 200px ;
  gap: 50px;
  padding-bottom: 2px;

}
#logo a{
  width: 100px;
  height: 100px;
}
#logo a img{
  border: 2px solid white;
  border-radius: 50%;
  margin-left:150%;
  width: 100px;
  height: 100px;
  grid-column: span;
}

h3{
  text-align: center;
  color: white;
  font-size: 30px;
}


/* nav */




nav {
  
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  font-family:  "Josefin Sans";
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  
}

nav .logo {
  
  width: 25%;
  text-align: center;
}

nav .menu {
  
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
